extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 About Us
        p DJ Mood was created for the sole purpose of generating a playlist based on your mood

        a.btn.btn-info-outline.btn-lg.m-t-1(href='/login') Get Started for FREE
