extends layout

block content
  .main.container.text-xs-center
    .row
      .col-md-5
        h1.display-4.m-b-2.about-head About DJ Mood
        p.about-paragraph A playlist generator that listens to the outbursts of the soul.
        p.about-paragraph DJ mood uses facial recognition software to analyze your facial expressions for emotions. We at DJ Mood believe in the power of music so we developed this tool to help you understand more of yourself.
        a.btn.btn-info-outline.btn-lg.m-t-1(href='/login') Get Started
