<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

    <header>
        <% include ./partials/header %>
    </header>

    <main>
        <div class="jumbotron">
          <h3>Welcome to DJ Mood</h3>
            <p>How's Your Mood?</p>
        </div>
    </main>

    <footer>
        <% include ./partials/footer %>
    </footer>
</body>
</html>
