extends layout

block content
  .main.container.text-xs-center
    .row
      .col-md-6
        div.left-side
          h1.display-3.landing Tune Into
          h1.display-3.landing Your Emotions.
          a.btn.btn-info-outline.btn-lg(href='/login') Get Started


