extends layout

block content

  .main.container.clearfix
    .row
      .col-md-10.col-md-offset-2
      if(user)
      h3 Your listening habits based on your mood
        br
        br
        legend Select Music Type When:
        hr
        form(action='/profile' method='post')
          div.col-md-3
            fieldset
            label Happy
            br
            select.myList(name="Happy")
              option(value='Happy' selected) Happy
              option(value='Sad') Sad
              option(value='Angry') Angry
              option(value='Relaxed') Relaxed
              option(value='Chill') Chill
            fieldset
            label Sad
            br
            select.myList(name="Sad")
              option(value='Happy') Happy
              option(value='Sad' selected) Sad
              option(value='Angry') Angry
              option(value='Relaxed') Relaxed
              option(value='Chill') Chill
            fieldset
            label Angry
            br
            select.myList(name="Angry")
              option(value='Happy') Happy
              option(value='Sad') Sad
              option(value='Angry' selected) Angry
              option(value='Relaxed') Relaxed
              option(value='Chill') Chill
            fieldset
            br
            a(href='/profile') <<< Back to Profile
          div.col-md-6
            label Relaxed
            br
            select.myList(name="Relaxed")
              option(value='Happy') Happy
              option(value='Sad') Sad
              option(value='Angry') Angry
              option(value='Relaxed' selected) Relaxed
              option(value='Chill') Chill
            fieldset
            label Chill
            br
            select.myList(name="Chill")
              option(value='Happy') Happy
              option(value='Sad') Sad
              option(value='Angry') Angry
              option(value='Relaxed') Relaxed
              option(value='Chill' selected) Chill
            br
            input.submit(type="submit", value="Save", class="btn btn-info-outline")

