extends layout

block content

  .main.container.clearfix
    .row
      .col-md-10
      if(user)
      h1 Welcome!
        h1.display-4
          img.avatar.img-circle.hidden-xs-down(src=user.photo alt='avatar')
          | Username: #{user.name}
          br
          | Email: #{user.email}
      